.cor-1 {
    background-color: #DE95D1;
    height: 100px;
}

.cor-2 {
    background-color: #B595DE;
    height: 100px;
}

.cor-3 {
    background-color: #9D95DE;
     height: 100px;
}

.cor-4 {
    background-color: #CD95DE;
     height: 100px;
}

.cor-5 {
    background-color: #DE95A5;
     height: 100px;
}

.cor-6 {
    background-color: #D3B1DE;
     height: 100px;
}
